body {
  font-family: Arial, sans-serif;
  background-color: #181831;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
  text-align: center;
}

.card h2 {
  margin-top: 0;
}

.card p {
  color: #666;
}

.card button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.card button:hover {
  background-color: #0056b3;
}

#full-text {
  transition: all 0.3s ease;
}

#result-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  transition: opacity 0.3s ease;
}

#result-card p {
  color: #666;
}
